
clientlogos/
/LoadTests/
/OpsTools/BuildOutput/
build/
TestOutput/
AllOutput/
Plugin/
Batch/
obj/
bin/
Bin/
Obj/
.svn/
.idea/
debug/
release/
_ReSharper.*
*.csproj.user
*.user
*.suo
*.orig
*.cache
*.vs10x
*~
*.swp
*-log.txt*

.DS_Store
*.gpState

*result.xml
*Result.xml
lint.db
*testresult.xml

~$*.*
*web.log*
*.log
*.bak
*.vs10x
*Thumbs.db
.metadata/
.preprocessed/
.settings/
deliverables/
*.BASE
*.REMOTE
*.LOCAL
*.orig

*.combined.css
*.webtestresult
src/Voyager/TestResults

*.docstates